@charset "UTF-8";
@import url(http://fonts.googleapis.com/css?family=Homemade+Apple|Kreon);

/* CSS Document */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}




/*-------------------------*/



html {
	background: url('images/darkbg.png') top center;
}

body {
	background:#f5e9d7 url('images/paperbg.png') top center;
	font-family: 'Kreon', serif;
}

.headbar {
	background: url('images/headerbg.png') top center repeat-x;
	height: 23px;
}

#logo {
	width: 633px;
	height: 295px;
	/*background: url('images/logo.png') no-repeat;*/
	margin: 10px auto 0px;
}

.description {
	font-size: 16px;
	text-align: center;
	width: 500px;
	color: #436a73;
	text-shadow: 0px 1px #FFF;
	line-height: 22px;
	margin: 0 auto;
}

.comingsoon {
	display: block;
	font-weight: 100;
	font-size: 22px;
	color: #544f44;
	text-shadow: 0px 1px #FFF;
	margin-top: 15px;
}

.beta {
	padding-top: 10px;
	height: 343px;
}

.status {
	height: 35px;
}

.error {
	width: 590px;
	padding: 5px 0 0;
	text-align: center;
	margin: 0 auto 2px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	font-size: 18px;
	background: url('images/rederror.png');
	background: rgba(234,29,44,0.17);
	border: 1px solid #c69486;
	color: #612322;
	line-height: 26px;
}

.formcont {
	height: 220px;
	overflow: hidden;
	margin-top: -40px;
	padding-top: 40px;
	margin-bottom: 10px;
}

.form {
	width: 604px;
	height: 215px;
	position: relative;
	background: url('images/formbg.png') no-repeat;
	margin: 0px auto;
	padding-top: 27px;
}

.form .title {
	margin: 0px 80px 20px;
	font-size: 16px;
	font-weight: 100;
	line-height: 22px;
	text-align: center;
	color: #f05127;
	text-shadow: 0px 1px 0px #FFF;
}

.form .name {
	background: url('images/form-name.png') no-repeat 0px 13px;
	height: 50px;
	margin: 0px 50px;
}

.form .email {
	background: url('images/form-email.png') no-repeat 0px 13px;
	height: 50px;
	margin: 0px 50px;
}

.form input {
	background:transparent url('images/form-lines.png') no-repeat 0px 0px;
	border: none;
	height: 50px;
	width: 383px;
	margin-left: 100px;
	padding-left: 14px;
	outline: none;
	font-family: 'Homemade Apple', cursive;
	font-size: 24px;
	color: #272727;
	text-indent: 9px;
}

.form input.femail {
	font-size: 18px;
}

.button {
	width: 231px;
	height: 68px;
	display: block;
	margin: 0 auto;
	border: none;
	outline: none;
	text-indent: -8888px;
	background: url('images/buttons.gif') no-repeat;
	cursor: pointer;
}

.button:hover {
	background-position: 0 -68px;
}

.button:active {
	background-position: 0 -136px;
}

.slot {
	background: url('images/slot.png') no-repeat;
	width: 624px;
	height: 10px;
	margin: -12px auto 0px;
}

.thanks {
	width: 589px;
	height: 170px;
	background: rgba(169,139,93,0.1);
	margin: 10px auto 0;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	position: relative;
}

.thanks h2 {
	text-align: center;
	color: #537524;
	font-size: 36px;
	font-weight: bold;
	text-shadow: 0px 1px 0px #FFF;
	padding-top: 36px;
}

.thanks p {
	font-size: 14px;
	width: 356px;
	margin: 15px 0 0 43px;
	line-height: 22px;
	color: #262322;
	padding: 5px 0;
	border-right: 1px solid #928a7f;
}

.thanks .tweet {
	width: 122px;
	height: 34px;
	background: url('images/thanks-twitter.png') no-repeat;
	float: right;
	margin: 23px 38px 0 0;
}

#footer {
	background: url('images/footerbg.png') top center repeat-x;
	margin: 150px 0 0;
	height: 60px;
	padding-top: 40px;
}

#footer .copyr {
	text-align: center;
	font-size: 14px;
	color: #7d7871;
	text-shadow: 0px 1px 1px #000;
}

#footer .liftoff {
	vertical-align: bottom;
	margin-left: 10px;
}


