# Установка кодировки сервера
AddDefaultCharset utf-8

#Страницы ошибок
ErrorDocument 403 /drevo/errors/block.html

# запрет листинга каталогов
Options -Indexes

#Order Deny,Allow
#Deny from all
#Allow from 195.211.206.244 176.209.8.46 178.184.196.203
           #Мой НСК         Чикой        Женя Иркутск
           
AuthType Basic
AuthName "Private zone"
AuthUserFile /home/q/qazsedc13/qazsedc13.ru/public_html/drevo/.htpasswd
Require valid-user